/* Universal css */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Font */
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
 /* shared style */



/* Nav Style  */
nav{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 152px;
    margin-bottom: 32px; 
    margin-top: 32px;
     
     
}
.h2{
    font-weight: 800px;
    margin-top: 32px;
    font-size: 28px;
}
.btn-top{
  text-decoration: none;
  padding: 14px 22px;
  background-color: #feffff;
  border-radius: 5px;
  border: 1px solid #0D1321;
   
  
}
.btn-top a{
  text-decoration: none;
  color: #0D1321;
}
/* Banner part */

 .banner{
  background-image: url(./imges/Hero-bg.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
 } 

 .banner-content{
  text-align: center;
   margin-left: 221px;
   margin-right: 221px;
   }

 .banner-content img{
  margin-bottom:32px ;
  margin-top: 26px;

 }
.banner-content h1{
   text-align: center;
   font-size: 38px;
   font-weight: bolder;
   margin-bottom:32px ;
}
.banner-content p{
  margin-bottom:32px ;
}
.c-btn button{
  text-decoration: none;
  padding: 21px 24px;
  background-color: #0D1321;
  border-radius: 7px;
  border: 1px solid #0D1321;
  font-size: 20px;
  font-weight: 600;
  margin-bottom:45px ;
}
.c-btn button a{
  text-decoration: none;
  color: #ffffff;
}
/* Banner part end */
.why-wb{
  box-shadow: 0px 6px 15px 0px #e0dcdc;
  border-radius: 16px;
  margin-bottom: 30px;
  width: 1140px;
  height: 1383px;
  margin: auto;
}

.why-webdevlopment{
   max-width: 1140px;
 
   background-color: #FFFFFF;
   text-align: center;
   margin: auto;
   margin-top: 80px;
   margin-bottom:32px ;
   
   
   
}

.content{
  padding-top: 80px;
padding-bottom: 80px;
}
.wh-content{
  color: #0D1321;
  font-size: 16px;
  margin-top: 24px;
}
 
.detils{
  display: flex;
  justify-content: space-between;
   width: 946px;
  height: 336px;
  margin: 0 35px 0px 200px; 
  margin-bottom:32px ;
  color: #0d1321bd;
  margin: auto;
  box-shadow: 0px 6px 15px 0px #e0dcdc;
   padding: 48px;
   margin-top: 32px;


  
  
}
.d-descrption{
  width: 477px;
  height: 219px;
  margin-bottom:45px ;
  color: #0d1321bd;
  margin-top: 32px;

  
 
 
}

.d-title{
  margin-bottom: 36px;
  font-size: 24px;
  color: #0d1321bd;

  
}
.btn-Learn {
  text-decoration: none;
  padding: 5px 10px;
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #0D1321;
  font-size: 20px;
  font-weight: 400;
  margin-bottom:45px ;
  margin-top:32px ;
 
}
.btn-Learn a{
  text-decoration: none;
  color: #0d1321bd;
}
.d-heding-img{
  margin-right: 60px;
  width: 274.5px;
  height: 240px;

}

.d-heding-img-2{
  margin-right: 60px;
  width: 240px;
  height: 240px;
  display: flex;

}

.d-descrption-2{
  width: 477px;
  height: 219px;
  color: #0D1321;
}







